1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [110]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from bs4 import BeautifulSoup

In [2]:
driver=webdriver.Chrome(r"C:\Users\user\Desktop\internship\webdriver\chromedriver.exe")

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [10]:
ra,na,art,up,vie=[],[],[],[],[]
try:
    for i in driver.find_elements(By.XPATH,'//a[class="mw-redirect"]'):
        ra.append(i.text)     # rank
    for i in driver.find_elements(By.XPATH,''):
        na.append(i.text)     # name
    for i in driver.find_elements(By.XPATH,''):
        art.append(i.text)     # artist     
    for i in driver.find_elements(By.XPATH,''):
        up.append(i.text)      # for uploads
    for i in driver.find_elements(By.XPATH,''):
        vie.append(i.text)     # for views 
except:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]'):
        ra.append(i.text)
        na.append(i.text)
        art.append(i.text)
        up.append(i.text)
        vie.append(i.text)

In [11]:
print(len(ra),len(na),len(art),len(up),len(vie))

1 1 1 1 1

In [14]:
df=pd.DataFrame({'Rank':ra,'Video Name':na,'Artist':art,'Upload date':up,'Views(in billions)':vie})
df

,Rank,Video Name,Artist,Upload date,Views(in billions)
0,Top 30 most-viewed YouTube videos[3]\nNo. Vide...,Top 30 most-viewed YouTube videos[3]\nNo. Vide...,Top 30 most-viewed YouTube videos[3]\nNo. Vide...,Top 30 most-viewed YouTube videos[3]\nNo. Vide...,Top 30 most-viewed YouTube videos[3]\nNo. Vide...
1,Progression of the most-viewed video on YouTub...,Progression of the most-viewed video on YouTub...,Progression of the most-viewed video on YouTub...,Progression of the most-viewed video on YouTub...,Progression of the most-viewed video on YouTub...

2. Scrape the details team India‚Äôs internationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time

In [105]:
driver=webdriver.Chrome(r"C:\Users\user\Desktop\internship\webdriver\chromedriver.exe")
driver.get("https://www.bcci.tv/")

In [106]:
srch=driver.find_element(By.XPATH,'//span[@class="menu-icon__line menu-icon__line-left"]')
srch.click()

In [107]:
int_fix=driver.find_element(By.XPATH,'//li[@class="nav-item"]')
int_fix.click()

In [108]:
tit,ser,plc,dt,tm=[],[],[],[],[]
for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
    tit.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="fixture-card-mid d-flex align-items-center justify-content-between"]'):
    ser.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]'):
    plc.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="match-card-left match-schedule"]'):
    dt.append(i.text)
for i in driver.find_elements(By.XPATH,'//div[@class="match-card-right match-schedule "]'):
    tm.append(i.text)

In [109]:
print(len(tit),len(ser),len(plc),len(dt),len(tm))

8 8 8 8 8

In [110]:
df=pd.DataFrame({'Title':tit,' Series':ser,'Place':plc,'Date Of Match':dt,'Time':tm})
df

,Title,Series,Place,Date Of Match,Time
0,NEW ZEALAND TOUR OF INDIA T20 SERIES 2022-23,India\nvs\nNew Zealand,"3rd T20I - Narendra Modi Stadium, Ahmedabad",1 FEB 2023,7:00 PM IST
1,WOMENS T20I TRI-SERIES IN SOUTH AFRICA 2023,India Women\nvs\nSouth Africa Women,"5th T20I - Buffalo Park, East London",2 FEB 2023,6:30 PM IST
2,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,India\nvs\nAustralia,1st Test - Vidarbha Cricket Association Stadiu...,9 FEB 2023,9:30 AM IST
3,ICC WOMENS T20 WORLD CUP 2023,India Women\nvs\nPakistan Women,"1st T20I - Newlands, Cape Town",12 FEB 2023,6:30 PM IST
4,ICC WOMENS T20 WORLD CUP 2023,India Women\nvs\nWest Indies Women,"2nd T20I - Newlands, Cape Town",15 FEB 2023,6:30 PM IST
5,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,India\nvs\nAustralia,"2nd Test - Arun Jaitley Stadium, Delhi",17 FEB 2023,9:30 AM IST
6,ICC WOMENS T20 WORLD CUP 2023,England Women\nvs\nIndia Women,"3rd T20I - St George's Park, Gqeberha",18 FEB 2023,6:30 PM IST
7,ICC WOMENS T20 WORLD CUP 2023,India Women\nvs\nIreland Women,"4th T20I - St George's Park, Gqeberha",20 FEB 2023,6:30 PM IST

In [111]:
driver.close()

3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [16]:
driver=webdriver.Chrome(r"C:\Users\user\Desktop\internship\webdriver\chromedriver.exe")
driver.get("http://statisticstimes.com/")

In [17]:
srch=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]')
srch.click()

In [18]:
ind=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
ind.click()

In [20]:
gdp=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp.click()

In [24]:
ra,st,gs,dp,sh,gdp=[],[],[],[],[],[]
try:
    for i in driver.find_elements(By.XPATH,'//td[@class="data1"]'):
        ra.append(i.text)
    for i in driver.find_elements(By.XPATH,'//td[@class="name"]'):
        st.append(i.text)
    for i in driver.find_elements(By.XPATH,'//td[@class="data"]'):
        gs.append(i.text)
    for i in driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]'):
        dp.append(i.text)
    for i in driver.find_elements(By.XPATH,'//td[@class="data"]'):
        sh.append(i.text)
    for i in driver.find_elements(By.XPATH,'//td[@class="data"]'):
        gdp.append(i.text)
except WebDriverException:
    pass

In [25]:
print(len(ra),len(st),len(gs),len(dp),len(sh),len(gdp))

68 68 308 66 308 308

In [28]:
df=pd.DataFrame({'Rate':ra[0:33],'State':st[0:33],'GSDP(18-19)':gs[:33],'GSDP(19-20)':dp[0:33],'Shares':sh[0:33],'GDP':gdp[0:33]})
df

,Rate,State,GSDP(18-19),GSDP(19-20),Shares,GDP
0,1,Maharashtra,-,"2,632,792",-,-
1,2,Tamil Nadu,13.94%,"1,630,208",13.94%,13.94%
2,3,Uttar Pradesh,399.921,"1,584,764",399.921,399.921
3,4,Gujarat,-,"1,502,899",-,-
4,5,Karnataka,"2,039,074","1,493,127","2,039,074","2,039,074"
5,6,West Bengal,"1,845,853","1,089,898","1,845,853","1,845,853"
6,7,Rajasthan,8.63%,"942,586",8.63%,8.63%
7,8,Andhra Pradesh,247.629,"862,957",247.629,247.629
8,9,Telangana,"1,312,929","861,031","1,312,929","1,312,929"
9,10,Madhya Pradesh,"1,215,307","809,592","1,215,307","1,215,307"
10,11,Kerala,"1,687,818","781,653","1,687,818","1,687,818"
11,12,Delhi,8.39%,"774,870",8.39%,8.39%
12,13,Haryana,240.726,"734,163",240.726,240.726
13,14,Bihar,"1,166,817","530,363","1,166,817","1,166,817"
14,15,Punjab,"1,123,982","526,376","1,123,982","1,123,982"
15,16,Odisha,-,"487,805",-,-
16,17,Assam,7.96%,"315,881",7.96%,7.96%
17,18,Chhattisgarh,228.290,"304,063",228.290,228.290
18,19,Jharkhand,-,"297,204",-,-
19,20,Uttarakhand,"1,186,379","245,895","1,186,379","1,186,379"
20,21,Jammu & Kashmir,"1,631,977","155,956","1,631,977","1,631,977"
21,22,Himachal Pradesh,7.91%,"153,845",7.91%,7.91%
22,23,Goa,226.806,"73,170",226.806,226.806
23,24,Tripura,"1,156,039","49,845","1,156,039","1,156,039"
24,25,Chandigarh,"1,091,077","42,114","1,091,077","1,091,077"
25,26,Puducherry,"1,253,832","34,433","1,253,832","1,253,832"
26,27,Meghalaya,5.77%,"33,481",5.77%,5.77%
27,28,Sikkim,165.556,"28,723",165.556,165.556
28,29,Manipur,"793,223","27,870","793,223","793,223"
29,30,Nagaland,"739,525","27,283","739,525","739,525"
30,31,Arunachal Pradesh,"1,020,989","24,603","1,020,989","1,020,989"
31,32,Mizoram,4.99%,"22,287",4.99%,4.99%
32,33,Andaman & Nicobar Islands,143.179,-,143.179,143.179

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [35]:
driver=webdriver.Chrome(r"C:\Users\user\Desktop\internship\webdriver\chromedriver.exe")
driver.get("https://github.com/")

In [37]:
op_sr=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span')
op_sr.click()

In [38]:
source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
source.click()

In [39]:
trend=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
trend.click()

In [40]:
repo,des,lan = [],[],[]
for i in driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]'):
    repo.append(i.text)
for i in driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
    des.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]'):
    lan.append(i.text)

In [42]:
print(len(repo),len(des),len(lan))

25 23 21

In [43]:
git = pd.DataFrame({'Repository title':repo[0:21], 'Repository description':des[0:21], 'Language used':lan[0:21]})
git

,Repository title,Repository description,Language used
0,acikkaynak / deprem-yardim-frontend,afetharita.com frontend projesi. https://rc.af...,TypeScript
1,acikkaynak / deprem-yardim-backend,afetharita.com backend projesi,Python
2,AutumnWhj / ChatGPT-wechat-bot,ChatGPT for wechat https://github.com/AutumnWh...,TypeScript
3,fuergaosi233 / wechat-chatgpt,Use ChatGPT On Wechat via wechaty,TypeScript
4,dabit3 / gpt-travel-advisor,Create a travel itinerary for any city in the ...,TypeScript
5,f / awesome-chatgpt-prompts,This repo includes ChatGPT prompt curation to ...,HTML
6,motion-canvas / motion-canvas,Visualize Complex Ideas Programmatically,TypeScript
7,TheAlgorithms / Python,All Algorithms implemented in Python,Python
8,waylaidwanderer / node-chatgpt-api,A ChatGPT implementation with support for Bing...,JavaScript
9,PowerJob / PowerJob,Enterprise job scheduling middleware with dist...,Java
10,Zero6992 / chatGPT-discord-bot,Integrate ChatGPT into your own discord bot,Python
11,acikkaynak / deprem-yardim-projesi,‰ΩøÁî®ChatGPTÊê≠Âª∫ÂæÆ‰ø°ËÅäÂ§©Êú∫Âô®‰∫∫ÔºåÂü∫‰∫éOpenAI APIÂíåitchatÂÆûÁé∞„ÄÇWecha...,Python
12,zhayujie / chatgpt-on-wechat,"Official Implementation for ""TEXTure: Semantic...",Python
13,TEXTurePaper / TEXTurePaper,ChatGPT ‰∏≠ÊñáË∞ÉÊïôÊåáÂçó„ÄÇÂêÑÁßçÂú∫ÊôØ‰ΩøÁî®ÊåáÂçó„ÄÇÂ≠¶‰π†ÊÄé‰πàËÆ©ÂÆÉÂê¨‰Ω†ÁöÑËØù„ÄÇ,Go
14,PlexPt / awesome-chatgpt-prompts-zh,‰∏∫‰∏™‰∫∫ÂæÆ‰ø°Êé•ÂÖ•ChatGPT,TypeScript
15,djun / wechatbot,Tools and Techniques for Blue Team / Incident ...,Python
16,A-poc / BlueTeam-Tools,Reverse engineered ChatGPT API,Python
17,devfullcycle / imersao12,OpenAssistant is a chat-based assistant that u...,Rust
18,acheong08 / ChatGPT,"üîÆ ChatGPT Desktop Application (Mac, Windows an...",Go
19,LAION-AI / Open-Assistant,golangÂæÆ‰ø°SDK,Python
20,lencx / ChatGPT,"This is an application project of 'chatgpt',on...",JavaScript

In [44]:
driver.close()

5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [49]:
driver=webdriver.Chrome(r"C:\Users\user\Desktop\internship\webdriver\chromedriver.exe")
driver.get("http://www.billboard.com/")

In [50]:
sr=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
sr.click()

In [51]:
ch=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/button/span')
ch.click()

In [52]:
tp=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
tp.click()

In [53]:
name,artist,lwr,pr,wob = [],[],[],[],[]
for i in driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]'):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]'):
    artist.append(i.text)
for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]'):
    lwr.append(i.text)
for i in driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]'):
    pr.append(i.text)
for i in driver.find_elements(By.XPATH,'li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]'):
    wob.append(i.text)

In [54]:
len(name),len(artist),len(lwr),len(pr)

(99, 99, 200, 200)

In [55]:
bill = pd.DataFrame({'Name':name[0:99],'Artist':artist[0:99],'Last Week Rank':lwr[0:99],'Peek Pos':pr[0:99]})
bill

,Name,Artist,Last Week Rank,Peek Pos
0,Kill Bill,SZA,1,
1,Creepin',"Metro Boomin, The Weeknd & 21 Savage",3,1
2,Anti-Hero,Taylor Swift,2,
3,Unholy,Sam Smith & Kim Petras,8,2
4,Die For You,The Weeknd,4,
...,...,...,...,...
94,Hey Mor,Ozuna Featuring Feid,42,
95,Gato de Noche,Nengo Flow & Bad Bunny,32,4
96,Heart To Heart,Mac DeMarco,45,
97,Never Gonna Not Dance Again,P!nk,30,6
98,Dancin' In The Country,Tyler Hubbard,48,

In [56]:
driver.close()

6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [111]:
driver=webdriver.Chrome(r"C:\Users\user\Desktop\internship\webdriver\chromedriver.exe")
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [149]:
body = []
for i in driver.find_elements(By.XPATH,'//tbody'):
    body.append(i.text.split('\n'))
bod

[['1 Da Vinci Code,The Brown, Dan 5,094,805 Transworld Crime, Thriller & Adventure',
  "2 Harry Potter and the Deathly Hallows Rowling, J.K. 4,475,152 Bloomsbury Children's Fiction",
  "3 Harry Potter and the Philosopher's Stone Rowling, J.K. 4,200,654 Bloomsbury Children's Fiction",
  "4 Harry Potter and the Order of the Phoenix Rowling, J.K. 4,179,479 Bloomsbury Children's Fiction",
  '5 Fifty Shades of Grey James, E. L. 3,758,936 Random House Romance & Sagas',
  "6 Harry Potter and the Goblet of Fire Rowling, J.K. 3,583,215 Bloomsbury Children's Fiction",
  "7 Harry Potter and the Chamber of Secrets Rowling, J.K. 3,484,047 Bloomsbury Children's Fiction",
  "8 Harry Potter and the Prisoner of Azkaban Rowling, J.K. 3,377,906 Bloomsbury Children's Fiction",
  '9 Angels and Demons Brown, Dan 3,193,946 Transworld Crime, Thriller & Adventure',
  "10 Harry Potter and the Half-blood Prince:Children's Edition Rowling, J.K. 2,950,264 Bloomsbury Children's Fiction",
  '11 Fifty Shades Darker James, E. L. 2,479,784 Random House Romance & Sagas',
  '12 Twilight Meyer, Stephenie 2,315,405 Little, Brown Book Young Adult Fiction',
  '13 Girl with the Dragon Tattoo,The:Millennium Trilogy Larsson, Stieg 2,233,570 Quercus Crime, Thriller & Adventure',
  '14 Fifty Shades Freed James, E. L. 2,193,928 Random House Romance & Sagas',
  '15 Lost Symbol,The Brown, Dan 2,183,031 Transworld Crime, Thriller & Adventure',
  '16 New Moon Meyer, Stephenie 2,152,737 Little, Brown Book Young Adult Fiction',
  '17 Deception Point Brown, Dan 2,062,145 Transworld Crime, Thriller & Adventure',
  '18 Eclipse Meyer, Stephenie 2,052,876 Little, Brown Book Young Adult Fiction',
  '19 Lovely Bones,The Sebold, Alice 2,005,598 Pan Macmillan General & Literary Fiction',
  '20 Curious Incident of the Dog in the Night-time,The Haddon, Mark 1,979,552 Random House General & Literary Fiction',
  '21 Digital Fortress Brown, Dan 1,928,900 Transworld Crime, Thriller & Adventure',
  '22 Short History of Nearly Everything,A Bryson, Bill 1,852,919 Transworld Popular Science',
  '23 Girl Who Played with Fire,The:Millennium Trilogy Larsson, Stieg 1,814,784 Quercus Crime, Thriller & Adventure',
  '24 Breaking Dawn Meyer, Stephenie 1,787,118 Little, Brown Book Young Adult Fiction',
  '25 Very Hungry Caterpillar,The:The Very Hungry Caterpillar Carle, Eric 1,783,535 Penguin Picture Books',
  '26 Gruffalo,The Donaldson, Julia 1,781,269 Pan Macmillan Picture Books',
  "27 Jamie's 30-Minute Meals Oliver, Jamie 1,743,266 Penguin Food & Drink: General",
  '28 Kite Runner,The Hosseini, Khaled 1,629,119 Bloomsbury General & Literary Fiction',
  '29 One Day Nicholls, David 1,616,068 Hodder & Stoughton General & Literary Fiction',
  '30 Thousand Splendid Suns,A Hosseini, Khaled 1,583,992 Bloomsbury General & Literary Fiction',
  "31 Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy Larsson, Stieg 1,555,135 Quercus Crime, Thriller & Adventure",
  "32 Time Traveler's Wife,The Niffenegger, Audrey 1,546,886 Random House General & Literary Fiction",
  '33 Atonement McEwan, Ian 1,539,428 Random House General & Literary Fiction',
  "34 Bridget Jones's Diary:A Novel Fielding, Helen 1,508,205 Pan Macmillan General & Literary Fiction",
  '35 World According to Clarkson,The Clarkson, Jeremy 1,489,403 Penguin Humour: Collections & General',
  "36 Captain Corelli's Mandolin Bernieres, Louis de 1,352,318 Random House General & Literary Fiction",
  '37 Sound of Laughter,The Kay, Peter 1,310,207 Random House Autobiography: General',
  '38 Life of Pi Martel, Yann 1,310,176 Canongate General & Literary Fiction',
  '39 Billy Connolly Stephenson, Pamela 1,231,957 HarperCollins Biography: The Arts',
  '40 Child Called It,A Pelzer, Dave 1,217,712 Orion Autobiography: General',
  "41 Gruffalo's Child,The Donaldson, Julia 1,208,711 Pan Macmillan Picture Books",
  "42 Angela's Ashes:A Memoir of a Childhood McCourt, Frank 1,204,058 HarperCollins Autobiography: General",
  '43 Birdsong Faulks, Sebastian 1,184,967 Random House General & Literary Fiction',
  '44 Northern Lights:His Dark Materials S. Pullman, Philip 1,181,503 Scholastic Ltd. Young Adult Fiction',
  '45 Labyrinth Mosse, Kate 1,181,093 Orion General & Literary Fiction',
  '46 Harry Potter and the Half-blood Prince Rowling, J.K. 1,153,181 Bloomsbury Science Fiction & Fantasy',
  '47 Help,The Stockett, Kathryn 1,132,336 Penguin General & Literary Fiction',
  '48 Man and Boy Parsons, Tony 1,130,802 HarperCollins General & Literary Fiction',
  '49 Memoirs of a Geisha Golden, Arthur 1,126,337 Random House General & Literary Fiction',
  "50 No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S. McCall Smith, Alexander 1,115,549 Little, Brown Book Crime, Thriller & Adventure",
  '51 Island,The Hislop, Victoria 1,108,328 Headline General & Literary Fiction',
  '52 PS, I Love You Ahern, Cecelia 1,107,379 HarperCollins General & Literary Fiction',
  '53 You are What You Eat:The Plan That Will Change Your Life McKeith, Gillian 1,104,403 Penguin Fitness & Diet',
  '54 Shadow of the Wind,The Zafon, Carlos Ruiz 1,092,349 Orion General & Literary Fiction',
  "55 Tales of Beedle the Bard,The Rowling, J.K. 1,090,847 Bloomsbury Children's Fiction",
  '56 Broker,The Grisham, John 1,087,262 Random House Crime, Thriller & Adventure',
  "57 Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P Atkins, Robert C. 1,054,196 Random House Fitness & Diet",
  '58 Subtle Knife,The:His Dark Materials S. Pullman, Philip 1,037,160 Scholastic Ltd. Young Adult Fiction',
  '59 Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation Truss, Lynne 1,023,688 Profile Books Group Usage & Writing Guides',
  "60 Delia's How to Cook:(Bk.1) Smith, Delia 1,015,956 Random House Food & Drink: General",
  '61 Chocolat Harris, Joanne 1,009,873 Transworld General & Literary Fiction',
  '62 Boy in the Striped Pyjamas,The Boyne, John 1,004,414 Random House Childrens Books G Young Adult Fiction',
  "63 My Sister's Keeper Picoult, Jodi 1,003,780 Hodder & Stoughton General & Literary Fiction",
  '64 Amber Spyglass,The:His Dark Materials S. Pullman, Philip 1,002,314 Scholastic Ltd. Young Adult Fiction',
  '65 To Kill a Mockingbird Lee, Harper 998,213 Random House General & Literary Fiction',
  '66 Men are from Mars, Women are from Venus:A Practical Guide for Improvin Gray, John 992,846 HarperCollins Popular Culture & Media: General Interest',
  '67 Dear Fatty French, Dawn 986,753 Random House Autobiography: The Arts',
  '68 Short History of Tractors in Ukrainian,A Lewycka, Marina 986,115 Penguin General & Literary Fiction',
  '69 Hannibal Harris, Thomas 970,509 Random House Crime, Thriller & Adventure',
  '70 Lord of the Rings,The Tolkien, J. R. R. 967,466 HarperCollins Science Fiction & Fantasy',
  '71 Stupid White Men:...and Other Sorry Excuses for the State of the Natio Moore, Michael 963,353 Penguin Current Affairs & Issues',
  '72 Interpretation of Murder,The Rubenfeld, Jed 962,515 Headline Crime, Thriller & Adventure',
  '73 Sharon Osbourne Extreme:My Autobiography Osbourne, Sharon 959,496 Little, Brown Book Autobiography: The Arts',
  '74 Alchemist,The:A Fable About Following Your Dream Coelho, Paulo 956,114 HarperCollins General & Literary Fiction',
  "75 At My Mother's Knee ...:and Other Low Joints O'Grady, Paul 945,640 Transworld Autobiography: The Arts",
  '76 Notes from a Small Island Bryson, Bill 931,312 Transworld Travel Writing',
  '77 Return of the Naked Chef,The Oliver, Jamie 925,425 Penguin Food & Drink: General',
  '78 Bridget Jones: The Edge of Reason Fielding, Helen 924,695 Pan Macmillan General & Literary Fiction',
  "79 Jamie's Italy Oliver, Jamie 906,968 Penguin National & Regional Cuisine",
  '80 I Can Make You Thin McKenna, Paul 905,086 Transworld Fitness & Diet',
  '81 Down Under Bryson, Bill 890,847 Transworld Travel Writing',
  '82 Summons,The Grisham, John 869,671 Random House Crime, Thriller & Adventure',
  '83 Small Island Levy, Andrea 869,659 Headline General & Literary Fiction',
  '84 Nigella Express Lawson, Nigella 862,602 Random House Food & Drink: General',
  '85 Brick Lane Ali, Monica 856,540 Transworld General & Literary Fiction',
  "86 Memory Keeper's Daughter,The Edwards, Kim 845,858 Penguin General & Literary Fiction",
  '87 Room on the Broom Donaldson, Julia 842,535 Pan Macmillan Picture Books',
  '88 About a Boy Hornby, Nick 828,215 Penguin General & Literary Fiction',
  '89 My Booky Wook Brand, Russell 820,563 Hodder & Stoughton Autobiography: The Arts',
  '90 God Delusion,The Dawkins, Richard 816,907 Transworld Popular Science',
  '91 "Beano" Annual,The 0 816,585 D.C. Thomson Children\'s Annuals',
  '92 White Teeth Smith, Zadie 815,586 Penguin General & Literary Fiction',
  '93 House at Riverton,The Morton, Kate 814,370 Pan Macmillan General & Literary Fiction',
  '94 Book Thief,The Zusak, Markus 809,641 Transworld General & Literary Fiction',
  '95 Nights of Rain and Stars Binchy, Maeve 808,900 Orion General & Literary Fiction',
  '96 Ghost,The Harris, Robert 807,311 Random House General & Literary Fiction',
  '97 Happy Days with the Naked Chef Oliver, Jamie 794,201 Penguin Food & Drink: General',
  '98 Hunger Games,The:Hunger Games Trilogy Collins, Suzanne 792,187 Scholastic Ltd. Young Adult Fiction',
  "99 Lost Boy,The:A Foster Child's Search for the Love of a Family Pelzer, Dave 791,507 Orion Biography: General",
  "100 Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours Oliver, Jamie 791,095 Penguin Food & Drink: General"]]

In [117]:
gen=[]
for i in driver.find_elements(By.XPATH,'//td[@class="last left"]'):
    gen.append(i.text)
gen

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [150]:
driver=webdriver.Chrome(r"C:\Users\user\Desktop\internship\webdriver\chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")

In [151]:
name,year,gen,rt,rating,vote = [],[],[],[],[],[]

for i in driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]'):
    na = i.text.split('(')[0]
    name.append(na.split('.')[1])
    year.append(i.text.split('(')[1].replace(')',' '))

for i in driver.find_elements(By.XPATH,'//span[@class="genre"]'):
    gen.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//span[@class="runtime"]'):
    rt.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]'):
    rating.append(i.text.split('\n')[0])

for i in driver.find_elements(By.XPATH,'//span[@name="nv"]'):
    vote.append(i.text)

In [152]:
series = pd.DataFrame({'Name':name, 'Year Span':year, 'Genre':gen, 'Run Time':rt, 'Ratings':rating, 'Votes':vote})
series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,2011‚Äì2019,"Action, Adventure, Drama",57 min,9.2,"2,122,508"
1,Stranger Things,2016‚Äì2024,"Drama, Fantasy, Horror",51 min,8.7,"1,210,551"
2,The Walking Dead,2010‚Äì2022,"Drama, Horror, Thriller",44 min,8.1,"1,006,659"
3,13 Reasons Why,2017‚Äì2020,"Drama, Mystery, Thriller",60 min,7.5,"297,049"
4,The 100,2014‚Äì2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"255,983"
...,...,...,...,...,...,...
95,Reign,2013‚Äì2017,Drama,42 min,7.4,"50,720"
96,A Series of Unfortunate Events,2017‚Äì2019,"Adventure, Comedy, Drama",50 min,7.8,"62,597"
97,Criminal Minds,2005‚Äì,"Crime, Drama, Mystery",42 min,8.1,"202,829"
98,Scream: The TV Series,2015‚Äì2019,"Comedy, Crime, Drama",45 min,7.1,"42,040"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"250,656"

8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [160]:
driver=webdriver.Chrome(r"C:\Users\user\Desktop\internship\webdriver\chromedriver.exe")
driver.get("https://archive-beta.ics.uci.edu/")

In [161]:
all_data=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
all_data.click()

In [172]:
nb=[]
for i in driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]'):
    nb.append(i.text)

In [173]:
nb

['Iris\nA small classic dataset from Fisher, 1936. One of the earliest datasets used for evaluation of classification methodologies.\nClassification\nMultivariate\n150 Instances\n4 Attributes',
 'Dry Bean Dataset\nImages of 13,611 grains of 7 different registered dry beans were taken with a high-resolution camera. A total of 16 features; 12 dimensions and 4 shape forms, were obtained from the grains.\nClassification\nMultivariate\n13.61K Instances',
 'Heart Disease\n4 databases: Cleveland, Hungary, Switzerland, and the VA Long Beach\nClassification\nMultivariate\n303 Instances\n13 Attributes',
 'Adult\nPredict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.\nClassification\nMultivariate\n48.84K Instances\n14 Attributes',
 "Diabetes\nThis diabetes dataset is from AIM '94\nMultivariate, Time-Series",
 "Rice (Cammeo and Osmancik)\nA total of 3810 rice grain's images were taken for the two species, processed and feature inferences were made. 7 morphological features were obtained for each grain of rice.\nClassification\nMultivariate\n3.81K Instances",
 'Wine\nUsing chemical analysis determine the origin of wines\nClassification\nMultivariate\n178 Instances\n13 Attributes',
 'Car Evaluation\nDerived from simple hierarchical decision model, this database may be useful for testing constructive induction and structure discovery methods.\nClassification\nMultivariate\n1.73K Instances\n6 Attributes',
 'Breast Cancer Wisconsin (Diagnostic)\nDiagnostic Wisconsin Breast Cancer Database.\nClassification\nMultivariate\n569 Instances\n30 Attributes',
 'Mushroom\nFrom Audobon Society Field Guide; mushrooms described in terms of physical characteristics; classification: poisonous or edible\nClassification\nMultivariate\n8.12K Instances\n22 Attributes']

In [171]:
na=[]
for i in driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]'):
    na.append(i.text.split('\n')[0])
na

['Iris',
 'Dry Bean Dataset',
 'Heart Disease',
 'Adult',
 'Diabetes',
 'Rice (Cammeo and Osmancik)',
 'Wine',
 'Car Evaluation',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Mushroom']

In [184]:
dt=[]
for i in driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]'):
    dt.append(i.text.split('\n150')[-1].split('\n')[0])
dt

[' Instances',
 'Dry Bean Dataset',
 'Heart Disease',
 'Adult',
 'Diabetes',
 'Rice (Cammeo and Osmancik)',
 'Wine',
 'Car Evaluation',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Mushroom']

In [ ]:
for i in driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]'):
    na.append(i.text)

In [ ]:
for i in driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]'):
    na.append(i.text)

In [ ]:
for i in driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]'):
    na.append(i.text)

In [ ]:
for i in driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]'):
    na.append(i.text)

In [ ]:
for i in driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]'):
    na.append(i.text)